.bgimage {
  background-image: url(/src/assets/img/hero-bg.jpg);
  background-size: cover;
  min-width: 60vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media (max-width: 768px) {
  .bgimage {
    min-width: 80vh;
  }
}
